
@{
    ViewData["Title"] = "Successfull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h1>Đặt vé thành công</h1>
<p>Chúng tôi đã gửi mã đến Gmail bạn. Xin vui lòng kiểm tra trong hòm thư. Xin cảm ơn</p>
<a href="/home/index" class="btn btn-success">OK</a>
</div>



