
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
<h1>Create new movie category</h1>
<form action="/moviecategories/create" method="post">
    <div class="row">
        <div class="col-md-6">
            <label for="MovieCategoryName">Movie Category Name</label>
            <input type="text" class="form-control" id="MovieCategoryName" name="MovieCategoryName" placeholder="..." />
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
    <a href="/moviecategories" class="btn btn-danger">Cancel</a>
</form>
</div>

