@model Cinema.Models.MovieCategory
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
<h1>Edit movie category</h1>
<form action="/movieCategories/edit/" method="post">
    <input type="text" readonly name="MovieCategoryId" value="@Model.MovieCategoryId" />
    <div class="row">
        <div class="col-md-6">
            <label for="MovieCategoryName">Movie Category Name</label>
            <input type="text" class="form-control" id="MovieCategoryName" name="MovieCategoryName" value="@Model.MovieCategoryName" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/moviecategories" class="btn btn-danger">Cancel</a>
</form>
</div>

