@model Cinema.Models.Account

@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .menu {
        border: 1px solid #F26A6A;
        text-align: center;
        width: 7cm;
        border-radius: 10px;
    }

    h3 {
        border-bottom: 1px solid #F26A6A;
        margin-bottom: 0px;
        height: 1.4cm;
    }

    .menu ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
    }

        .menu ul .in1 {
            border-bottom: 1px solid #F26A6A;
            height: 1.2cm;
            padding-top: 10px;
        }

        .menu ul .in2 {
            height: 1.2cm;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-top: 10px;
        }

        .menu ul a {
            text-decoration: none;
            color: black;
        }

        .menu ul .in1 a {
            padding-top: 10px;
        }

        .menu ul .in1:hover, .in2:hover {
            background-color: #F26A6A;
            color: white;
        }

    .form-group {
        margin-top: 20px;
        margin-left: 40%;
    }

        .form-group input {
            width: 3cm;
        }
</style>
<div class="container">
    <hr />
    @if (TempData["UpdateSuccess"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                alert("Cập nhật thành công!!");
            });
        </script>
    }

    <div class="row">
        <div class="col-3">
            <div class="menu">
                <h3 style="line-height:50px;">TÀI KHOẢN</h3>
                <ul>
                    <li class="in1"><a asp-controller="Memberships" asp-action="Index">DANH SÁCH THẺ THÀNH VIÊN</a></li>
                    <li class="in1"><a asp-controller="Accounts" asp-action="Index">DANH SÁCH KHÁCH HÀNG</a></li>
                    <li class="in2"><a asp-controller="Accounts" asp-action="EditEmployee">THÔNG TIN CÁ NHÂN</a></li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="row" style="margin-top:10px">
                <div class="col-md-6">
                    <label>Họ Và Tên</label>
                    <input asp-for="FullName" class="form-control" readonly />

                </div>
                <div class="col-md-6">
                    <label>Giới tính</label><br />
                    <label>
                        <input type="radio" asp-for="Gender" value="Nam" disabled /> Nam
                    </label>
                    <label>
                        <input type="radio" asp-for="Gender" value="Nữ" disabled /> Nữ
                    </label>
                </div>
                <div class="col-md-6">
                    <label>Ngày sinh</label>
                    <input asp-for="DateOfBirth" class="form-control" type="date" readonly />

                </div>
                <div class="col-md-6">
                    <label>Số điện thoại</label>
                    <input asp-for="Phone" class="form-control" readonly />
                </div>
                <div class="col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                </div>
                <div class="col-md-6">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" readonly />
                </div>

            </div>
        </div>
    </div>
</div>



