@model Cinema.Models.Account

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .alert {
        padding: 20px;
        margin-bottom: 15px;
    }

    .closebtn {
        margin-left: 15px;
        color: #8e640a;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }
</style>
<div class="container">
    <h2>Quên mật khẩu</h2>
    <hr />
    @if (ViewBag.CheckEmail != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @ViewBag.CheckEmail
        </div>
    }
    @if (ViewBag.CheckEmailSuccess != null)
    {
        <div class="alert alert-success alert-dismissible">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @ViewBag.CheckEmailSuccess
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Gửi link" class="btn btn-outline-primary" style="margin-top:10px;" />
                </div>
            </form>
        </div>
    </div>
</div>



