@model Cinema.Models.Account
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>ResetPassword</h2>
    <hr />
    @if (ViewBag.CheckEmail != null)
    {
        <div id="ErrorMsg" class="alert alert-warning alert-dismissible">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @ViewBag.CheckEmail
        </div>
    }
    @if (TempData["ConfirmPass"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                alert("TMật khẩu mới không khớp nhau");
            });
        </script>
    }
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label>Mật khẩu mới</label>
                    <input id="NewPass" name="NewPass" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label> Nhập lại Mật khẩu mới</label>
                    <input id="ConfirmNewPass" name="ConfirmNewPass" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>
